<%= form_with(model: music_category, local: true) do |form| %>

<%= render "layouts/errors", obj: music_category %>

<div class="col-8 mx-auto">
<div class="card">
  <div class="card-header text-center">
    <h3>New Music Category </h3>
    </div>

<div class="card-body text-center p-5">

<div class="form-group row">
  <div class="col-3">
  <%= form.label :category %>
  </div>
  <div class="col-6">
  <%= form.text_field :category ,placeholder:"Enter category", class:"form-control", required:true %>
</div>
</div>
</div>

<div class="row justify-content-center my-4">
<div class="col-2">
  <strong><%= form.submit( "Add Category",{ class: "btn btn-success btn-md btn-block my-2 my-sm-0" })%></strong>
</div>
</div>
</div>
<%end%>
