<%= form_with(model: music_instrument, local: true) do |form| %>
<%= render "layouts/errors", obj: music_instrument %>
<div class="col-8 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h3>New Music Instrument </h3>
    </div>
    <div class="card-body text-center p-5">
      <div class="form-group row">
        <%= form.label :item_tittle %>
        <div class="col-6">
          <%= form.text_field :item_tittle ,placeholder:"Enter tittle", class:"form-control", required:true %>
        </div>
      </div>
      <div class="form-group row">
        <%= form.label :music_category %>
        <%= form.collection_select :music_category_id, MusicCategory.all, :id, :category, { prompt: "Choose a category" }, id: "category_id" %>
      </div>
      <div class= "form-group row">
        <%= form.label :sub_category %>
        <%= form.grouped_collection_select :sub_category_id, MusicCategory.all, :sub_categories,:category, :id, :name, {prompt: "Choose a subcategory"}%>
      </div>
      <div class="form-group row">
        <%= form.label :item_description %>
        <div class="col-6 ">
          <%= form.text_area :item_description ,placeholder:" Write description ", class:"form-control", required:true %>
        </div>
      </div>
      <div class="form-group">
        <%= form.hidden_field :user_id, value: current_user.id %>
      </div>
      <div class="form-group row">
        <%= form.label :phone_number %>
        <div class="col-6">
          <%= form.number_field :phone_number ,placeholder:"Enter phone number", class:"form-control", required:true%>
        </div>
      </div>
      <div class="form-group row">
        <%= form.label :price %>
        <div class="col-6">
          <%= form.number_field :price,placeholder:"Enter price", class:"form-control", required:true %>
        </div>
      </div>
      <div class="form-group row">
        <%=form.label :image %>
        <div class="col-6">
          <%=form.file_field :images , multiple:true, class:"form-control", required:true %>
        </div>
      </div>
      <div class="form-group row">
        <%=form.label :Users_role %>
        <div class="col-6 form-control">
          <%= form.radio_button :role, "buyer" %>
          <%= form.label :role_buyer, "Buyer" %>
          <%= form.radio_button :role, "seller" %>
          <%= form.label :role_seller, "Seller" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center my-4">
  <div class="col-2">
    <strong><%= link_to "Back", root_path, class: "btn btn-secondary btn-md btn-block my-2 my-sm-0" %></strong>
  </div>
  <div class="col-2">
    <strong><%= form.submit( "Add MusicInstrument",{ class: "btn btn-success btn-md btn-block my-2 my-sm-0" })%></strong>
  </div>
</div>
<% end %>
