<%= form_with(model: music_instrument, local: true) do |form| %>


<%= render "layouts/errors", obj: music_instrument %>

<div class="field">
  <%= form.label :item_tittle %>
  <%= form.text_field :item_tittle ,placeholder:"Enter tittle", required:true %>
</div>


<div class="field">
  <%= form.label :music_category,"Music Category:", for: "music_category"  %>
  <%= form.select(:music_category_id) do %>
  <% MusicCategory.all.each do |c| %>
  <%= content_tag(:option, c.category, value: c.id) %>
  <% end %>
  <% end %>
</div>



<div class="field">
  <%= form.label :item_description %>
  <%= form.text_area :item_description ,placeholder:"Write description ", required:true %>
</div>

<div class="field">
  <%= form.hidden_field :user_id, value: current_user.id%>
</div>



<div class="field">
  <%= form.label :phone_number %>
  <%= form.number_field :phone_number ,placeholder:"Enter phone number",required:true%>
</div>

<div class="field">
  <%= form.label :price %>
  <%= form.number_field :price,placeholder:"Enter price",required:true %>
</div>




<div class="field">
  <%=form.label :image %>
  <%=form.file_field :images , multiple:true ,required:true%>
</div>



<span>Users role</span>
<div class="field">
  <%= form.radio_button :role, "buyer" %>
  <%= form.label :role_buyer, "Buyer" %>
  <%= form.radio_button :role, "seller" %>
  <%= form.label :role_seller, "Seller" %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
