<%= form_with(model: music_instrument, local: true) do |form| %>
<%= render "layouts/errors", obj: music_instrument %>
<div class="col-8 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h3>New Music Instrument </h3>
    </div>
    <div class="card-body p-5">
      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :item_tittle %>
        </div>
        <div class="col-md-9">
          <%= form.text_field :item_tittle ,placeholder:"Enter tittle", class: "form-control", required: true %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :music_category %>
        </div>
        <div class="col-md-9">
          <%= form.collection_select :music_category_id, MusicCategory.where(parent_id: nil), :id, :category, { prompt: "Choose a category" }, id: "category_id", class: 'form-control', required: true, onchange: 'setSubCategory()' %>
        </div>
      </div>
      <div class= "form-group row">
        <div class="col-md-3">
          <%= form.label :sub_category %>
        </div>
        <div class="col-md-9">
          <%= form.select :sub_category_id, options_for_select([]), {prompt: 'Choose a sub-category'}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :item_description %>
        </div>
        <div class="col-md-9">
          <%= form.text_area :item_description ,placeholder:" Write description ", class:"form-control", required:true %>
        </div>
      </div>
      <div class="form-group">
        <%= form.hidden_field :user_id, value: current_user.id %>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :phone_number %>
        </div>
        <div class="col-md-9">
          <%= form.number_field :phone_number, placeholder: "Enter phone number", class: "form-control", required: true %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :price %>
        </div>
        <div class="col-md-9">
          <%= form.number_field :price, placeholder: "Enter price", class: "form-control", required: true %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :image %>
        </div>
        <div class="col-md-9">
          <%= form.file_field :images, multiple: true, class: "form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :Users_role %>
        </div>
        <div class="col-md-9 form-control">
          <%= form.radio_button :role, "buyer" %>
          <%= form.label :role_buyer, "Buyer" %>
          <%= form.radio_button :role, "seller" %>
          <%= form.label :role_seller, "Seller" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center my-4">
  <div class="col-2">
    <strong><%= link_to "Back", root_path, class: "btn btn-secondary btn-md btn-block my-2 my-sm-0" %></strong>
  </div>
  <div class="col-2">
    <strong><%= form.submit( "Add MusicInstrument",{ class: "btn btn-success btn-md btn-block my-2 my-sm-0" })%></strong>
  </div>
</div>
<% end %>
<script type="text/javascript">
  function setSubCategory() {
    $('#music_instrument_sub_category_id').find('option').remove().end().append('<option value="">Choose a sub-category</option>').val('');
    var categoryId = $('#category_id').val()
    $.ajax({
      url: '/admin/music_categories/fetch_sub_categories'+'?category_id=' + categoryId,
      type: 'GET',
      success: function(data){
        var jsonData = Object(data)
        var keys = Object.keys(data)
        var length = keys.length;
        for(var k = 0; k < length; k++){
          $("#music_instrument_sub_category_id").append(new Option(jsonData[keys[k]], keys[k]));
        }
      }
    });
  }
</script>
