<div class="container-fluid">
  <div class="row">
    <% @music_instruments.each do |music_instrument| %>
    <% if music_instrument.approved_by == false%>
    <div class="col-md-4">
      <div class="card">
        <div class="mx-auto d-block">
          <% if music_instrument.images.attached?%>
          <%= image_tag(music_instrument.images.first, style: 'height:200px; width:100px;')%>
          <%end%>
        </div>

        <div class="px-4">
          <span> Item tittle - <%= music_instrument.item_tittle %></span>
        </div>

        <div class="px-4">
          <span> User -<td><%= music_instrument.user.name %></td></span>
        </div>
        <div class="px-4">
          <span>Rs <%= music_instrument.price %></span>
        </div>
        <div class="px-2">
          <%= link_to 'Approve', approve_music_instrument_path(music_instrument), class: "btn btn-primary btn-sm", method: :patch %>
          <%= link_to 'Reject', reject_music_instrument_path(music_instrument), class: "btn btn-primary btn-sm", method: :patch%>
        </div>

      </div>
    </div>
    <% end%>
    <% end %>
  </div>
</div>
