<div class="row">
	<div class="col-md-3 bg-warning h-md-100">
		<h1>Filtration</h1>
		<% music_categories = MusicCategory.eager_load(:sub_music_categories).where(parent_id: nil) %>
		<div class="demo">
				<button type="button" class="btn btn-secondary dropdown-toggle category-btn" data-toggle="modal" data-target="#myModal">
					Category
				</button>
			<div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">Categories</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body" style="overflow-x: auto;">
							<div class="row">
								<div class="col-md-12">
									<ul class="list-group list-group-numbered">
										<% if music_categories.present? %>
											<% music_categories.each do |music_category|%>
												<% sub_music_categories = music_category.sub_music_categories %>
											  <li class="list-group-item d-flex justify-content-between align-items-start">
											    <div>
											    	<div class="row"><strong><%= music_category.category %></strong></div>
											      <div class="row">
											      	<% if sub_music_categories.present? %>
												      	<% sub_music_categories.each do |sub_music_category| %>
												      		<label class="category-select">
																	  <%= check_box_tag 'sub_category[]', sub_music_category.id, false, class: 'sub_category' %>
																	  <%= sub_music_category.category %>
																	</label>&nbsp;&nbsp;&nbsp;
												      	<% end %>
											      	<% end %>
														</div>
											    </div>
											    <span class="badge bg-primary rounded-pill"><%= sub_music_categories.count %></span>
											  </li>
											<% end %>
										<% end %>
									</ul>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<p style="color: red" id="filter-error"></p>
							<button class="btn btn-danger reset">Reset</button>
							<button class="btn btn-success filter-by-subcategory">Apply</button>
				    </div>
					</div>
				</div>
			</div>
		</div><br>
		<h4>Price </h4>
		<%= form_tag '/', method: :get do %>
			<div class="row">
				<div class="col-md-6">
					<%= number_field_tag 'min_price', params[:min_price] , placeholder: "Min", class: 'form-control' %>
				</div><br><br>
				<div class="col-md-6">
					<%= number_field_tag 'max_price', params[:max_price] , placeholder: "Max", class: 'form-control' %>
				</div>
			</div><br>
			<center><%= submit_tag 'Filter', class: 'btn btn-success'%></center>
			
		<% end %>
	</div>
	<div class="col-md-9 music_instruments">
		<br>
		<%= render "music_instruments", { music_instruments: @music_instruments } %>
	</div>
</div>

<script type="text/javascript">
	$(".category-btn").click(function(){
		$('#filter-error').text('')
	})
	$( document ).ready(function() {
		$(".reset").click(function(){
			$( ".sub_category" ).each(function() {
				$(this).prop('checked', false);
			});
		})
    $(".filter-by-subcategory").click(function(){
    	var subCategoryIds = []
    	$( ".sub_category" ).each(function() {
    		if (this.checked) {
    			subCategoryIds.push(this.value)
    		}
			});
			if (subCategoryIds.length > 0) {
				$.ajax({
			    url: '/',
			    data: { sub_categor_ids: subCategoryIds, remote: true },
			    type: 'GET',
			    success: function(data){
			    }
			  });
			} else {
				$( "#filter-error" ).text('')
				$( "#filter-error" ).append( "Opps! please select any category" );
			}
		});
	});
</script>
<style type="text/css">
	.modal.left .modal-dialog{
		position: fixed;
		margin: auto;
		margin-top: 150px;
		margin-left: 38px;
		width: 520px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}
	.modal.left .modal-content {
		height: 60%;
	}
	.modal.left .modal-body {
		padding: 15px 15px 80px;
	}
	.modal.left.fade .modal-dialog{
		left: -1px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
	.modal-content {
		border-radius: 0;
		border: none;
	}
	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}

.btn-demo:focus {
	outline: 0;
}
.sub_category {
	cursor: pointer;
}

</style>